<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/results" method="post" name="user_data" accept-charset="utf-8">
    <p>Имя</p>
    <input type="text" name="first_name" autofocus>
    <p>Отчество (необязательно)</p>
    <input type="text" name="second_name">
    <p>Фамилия</p>
    <input type="text" name="last_name">
    <p>Название школы</p>
    <input type="text" name="school_name">
    <p>Логин школы в системе СтатГрад, если вы его знаете</p>
    <input type="text" name="login_statgrad">
    <p>Годы олимпиад</p>
    <input type="checkbox" name="year" value="2015">2015-2016<br>
    <input type="checkbox" name="year" value="2014">2014-2015<br>
    <input type="checkbox" name="year" value="2013">2013-2014<br>
    <input type="submit">
</form>
</body>
</html>